# .gitignore
## Backend .NET
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Frontend Angular
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/node_modules/
frontend/.angular/
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log

# System Files
.DS_Store
Thumbs.db

# Environment files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# SQLite
*.db
*.db-shm
*.db-wal